
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet"/>

<div class="container">
    <h1>Opppps! Kayıpmı oldun,hemen ana sayfaya dön.</h1>
    <br />
    <a href="/About/Index/" class="btn btn-warning">Anasayfaya Dön</a>
</div>
