@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<!-- main div -->
<div class="main-content p-5 bg-pink">
    <div class="row">
        <div class="col-sm-3">
            <span class="title">Yemek Tariflerine Hoş Geldin</span><br>
            <span class="text">Lezzetli tarifler seni bekliyor!</span><br>
            <button class="btn btn-outline-danger">
                <i class="bi bi-x-diamond-fill"></i>
                Yemek Tariflerine Üye Ol
            </button>
        </div>
        <div class="col-sm-6">
            <div class="row mt-3">
                <div class="col-sm-12 text-center">
                    <h4> Popüler Tarifler</h4>
                </div>
                <div class="row m-1">
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/03/eksili-tavuk-corbasi-tarifi-yemekcom.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/01/borcamda-magnolia-onecikan.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/02/develi-2023.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/03/visne-soslu-cheesecake-mayasi.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                </div>
                <div class="row m-1">
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/03/eksili-tavuk-corbasi-tarifi-yemekcom.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/01/borcamda-magnolia-onecikan.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/02/develi-2023.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                    <div class="col-sm"><img src="https://cdn.yemek.com/mnresize/1250/833/uploads/2023/03/visne-soslu-cheesecake-mayasi.jpg" class="w-100 img-thumbnail" alt="Alternate Text" /></div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="col-sm-12">
                <button class="btn btn-outline-danger">
                    Yeni Tarifler Keşfet
                </button>
                <button class="btn btn-outline-danger">
                    Sıkça Sorulan Sorular
                </button>
            </div>
        </div>
    </div>
</div>

<!-- main div end -->
