@using IPortfolioProject.Models
@model TblAbout


<div class="main-content">
    <header>
        <h2 class="h2 article-title">@ViewBag.v1</h2>
    </header>

    <section class="about-text">
        <p>
            &emsp; @Model.Title
        </p>
            &emsp; @Model.Decription
        <p>

        </p>
    </section>
</div>
