<div class="modal-container" data-modal-container>

    <div class="overlay" data-overlay></div>

    <section class="testimonials-modal">

        <button class="modal-close-btn" data-modal-close-btn>
            <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
                <img src="~/Assets/images/avatar-1.png" alt="#" width="80" data-modal-img>
            </figure>

            <img src="~/Assets/images/icon-quote.svg" alt="quote icon">
        </div>

        <div class="modal-content">

            <h4 class="h3 modal-title" data-modal-title>#</h4>

            <time datetime="2021-06-14">14 June, 2021</time>

            <div data-modal-text>
                <p>
                    #
                </p>
            </div>

        </div>

    </section>

</div>

