
@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@

<h1>Burası Layout sayfası</h1>
<br/>
<h2>Alt kısım Layout kısmının content alanı</h2>
@RenderBody()
