
@{
    //ViewBag.Title = "Index";
    Layout = null;
}


@*<h2>Index</h2>*@
<h1>Merhaba MVC Projesi</h1>

<a href="https://www.google.com.tr">Google</a>
<br />
<a href="/Default/Index2/">Index2 sayfasına git</a>

