
@{
    ViewBag.Title = "Index4";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kayıt Paneli</h2>
<label>Adınız</label>
<input type="text" />
<br />

<label>Soyadınız</label>
<input type="text" />
<br />
<a href="/Register/SingUp/">Kayıt Ol</a>
<br />
